@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --dark: #0e0b16;
  --light-purple: #a239ca;
  --dark-purple: #4717f6;
  --grey: #e7dfdd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  border: 2px solid red;
  position: absolute;
  top: 12vh;
  height: calc(100vh - 12vh);
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .main {
    left: 71px;
    top: 0;
    width: calc(100% - 71px);
    height: 100vh;
  }
}
